@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap');

html {
    font-family: 'PT Sans', sans-serif;

}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav {
    display: flex;
    justify-content: flex-end;
    a {
        margin: 8px;
        text-decoration: none;
        color: lighten(black, 20%);
        font-size: 18px;


        &.selected, &:hover {
            color: green;
        }
    }
    
}


.location-form {
    max-width: 600px;

    button {
        margin-left: 8px;;
        height: 36px;
        border-radius: 8px;
        outline: none;
        background-color: hsl(0,0%,100%);
        box-shadow: none;;
        font-size: 16px;
        padding: 8px;

        &:disabled {
            cursor: not-allowed
        }
    }

    label {
        display: block;
        margin: 12px 8px;

        input {
            display: block;
        }
    }

    input[type="email"] {
        align-items: center;
        background-color: hsl(0,0%,100%);
        border-color: hsl(0,0%,80%);
        border-radius: 4px;
        border-style: solid;
        border-width: 1px;
        cursor: default;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
        justify-content: space-between;
        min-height: 38px;
        outline: 0 !important;
        position: relative;
        -webkit-transition: all 100ms;
        transition: all 100ms;
        box-sizing: border-box;
        padding: 2px 8px;
        font-size: 16px;
        width: 100%
    }

    
}

.beacon {
    text {
        display: none;
    }


    &:hover {
        text {
            display: block;
        }
    }
}


.map-container {
    display: flex;

    svg {
        width: 100%;
        height: auto;

        circle {
            fill: black;

        }

        g.active circle {
            fill: rgb(76, 196, 69)

        }
    }
}


#map {
    flex-grow: 1;
}

.location-list {

    margin: 0;
    padding: 0;
    max-height: 400px;
    // background: rgba(0,0,0,0.1);
    overflow: scroll;

    li {

        padding: 16px;
        margin-bottom: 12px;
        list-style: none;
        border-bottom: 1px solid rgba(39, 128, 51, 0.1);

        &:hover {
            background: rgba(39, 128, 51, 0.1);
        }

        h5 {
            margin: 0 0 4px 0;
        }

        p {
            margin: 0 0 2px 0;
        }

    }
}